vendor/
node_modules/
.env
storage/logs/*.log
storage/cache/*.cache
public/uploads/kubaca/*
!public/uploads/kubaca/.gitkeep
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
composer.lock
Architechture.md
Public/css/*
public/css/*
Booking Rules.txt
Storage/*
coding_standards.md
public/css/output.css
